.container {
  color: #232B2B;
  padding: 16px 0;
  margin: 10px auto;
  
  .reading-list {

    .selected {
      background-color: #dddbdb;
    }

    li {
      background-color: #f0f0f0;
      padding-top: 15px;
      margin-bottom: 10px;

      .title {
        padding-bottom:2px;
        background:
          linear-gradient(
            to left, 
            #f7f7f7 50%,
            #636c72 100%
          )
          left 
          bottom  
          no-repeat; 
        background-size:100% 2px ;
      }  
  
      .btn-lib {
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }
  
      .btn-read {
        color: #1bbc9b;
        &:hover {
          color: #1b806a;
        }
      }
  
      .btn-edit {
        padding: 13px 5px 5px 5px;
        background-color: #3598dc;
        &:hover {
          background-color: #236794;
        }
      }
  
      .btn-remove {
        padding: 13px 5px 5px 5px;
        background-color: #f97b86;
        &:hover {
          background-color: #b95861;
        }
      }

      .btn-cancel {
        padding: 13px 5px 5px 5px;
        background-color: #525252;
        &:hover {
          background-color: #2e2e2e;
        }
      }
    }
  }
}

.form-control {
  background-color: #f7f7f7;
  margin-bottom: 5px;  
}