 @import "/../../../assets/styles/global/variables.scss";

/* Shared styles */
.container {
  width: 100% !important;
  height: 100% !important;

  .left-padding {
    padding-left: 7px !important;
  }

  .right-padding {
    padding-right: 7px !important;
  }

  .title {
    margin: 0;
    padding: 50px 20px;
  }
  
  .control {
    cursor: pointer;
  }

  .textView {
    font-size: xx-large;
    min-height: 100px;
    line-height: 100px;
    margin: 10px 0;

    .word {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    .left {
      width: 50%;
      text-align: right;
    }
    .right {
      margin-left: -8px;
    }
    .accent {
      margin-left: -8px;
      text-decoration: underline;
    }
  }
}

/* Default theme styles */
.default {
  color: $default_text-primary;

  .text-muted {
    color: $default_text-secondary !important;
  }
  
  .control {
    &:hover {
      text-shadow: 2px 2px 2px $default_text-shadow;
    }
  }

  .textView {
    background: $default_back-secondary;
    box-shadow: 0 1px 3px $default_back-shadow, 0 1px 2px $default_back-shadow;
    color: black;
    .accent {
      color: $default_accent-primary;
    }
  }
}

/* Dark theme styles */
.dark {
  color: $dark_text-secondary;
  background-color: $dark_back-primary;
  
  .control {
    &:hover {
      text-shadow: 2px 2px 2px $dark_text-shadow;
    }
  }

  .textView {
    background: $dark_back-secondary;
    box-shadow: 0 1px 3px $dark_back-shadow, 0 1px 2px $dark_back-shadow;
    color: $dark_text-primary;
    .accent {
      color: $dark_accent-primary;
    }
  }
}