/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  
  /* disable selection */
  -moz-user-select: none; 
  -webkit-user-select: none; 
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;

  height: 100%;
}
