<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/main.css">
  </head>
  <body>
    <div class="main" id="main">
      <div id="debug"></div>
      <h1 class="title" id="title"></h1>
      <div class="controlElements">
        <div id="buttonPause" class="controls"><i class="fa fa-pause fa-2x" aria-hidden="true"></i></div>
        <div id="buttonResume" class="controls resume"><i class="fa fa-play fa-2x" aria-hidden="true"></i></div>
        <div id="buttonExit" class="controls"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
      </div>
      <div id="textView" class="textView"></div>
      <div class="speedElements">
        <div id="buttonSlower" class="controls"><i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i></div>
        <div id="speedView" class="controls"></div>
        <div id="buttonFaster" class="controls"><i class="fa fa-arrow-up fa-2x" aria-hidden="true"></i></div>
      </div>
    </div>
    <script>require('../reader')</script>
  </body>
</html>
